{% extends 'calnew.html' %}
{% block div %}
<!-- <div id='but-hid'class="col-sm-12 text-center">
    <a id="submit-pledge" class="btn btn-primary btn-lg" href="{{ url_for('pledge') }}">Home</a>
</div> -->
<h1>Carbon Footprint Recommendations</h1>
<h2>Your way of using electricity is not so efficient so use Energy-Efficient Appliances and switch on the electric appliance only when requried</h2>
<h2>Your way of usage of fuel in vehical is not efficient  Use Public Transportation and maintain your vehical so you get maximum effiency</h2>
<h2>Your way of handling waste is not efficient so follow 3R's  Reduce, Reuse, Recycle and do Proper Disposal of Hazardous Materials</h2>

    <!-- Add any additional content or styling as needed -->

    <!-- Example: Back to Home link -->
    <a href="{{ url_for('qhome1') }}">Back to Home</a>

    <!-- Add your JavaScript scripts and links to scripts here -->


{% endblock %}